@page "/fetchdata"

@using BlazorCitrix.Data
@using Citrix.Models
@inject WeatherForecastService ForecastService
@inherits OwningComponentBase<GetManagersService>


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
@if (managers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var manager in managers)
    {
        <p> @manager.FirstName </p>

}}

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    List<Manager> managers;

    protected override async Task OnInitializedAsync()
    {

        managers = await @Service.GetManagersAsync();
    }
}
